@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

:root {
    --link-color: hsla(215, 100%, 90%, 1.0);
    --hover-color: hsla(215, 100%, 85%, 1.0);
    --link-neon: 0 0 0.2em hsla(215, 100%, 70%, 1.0), 0 0 0.6em hsla(215, 100%, 60%, 1.0), 0 0 1em hsla(215, 100%, 20%, 1.0);
    --title-neon: 0 0 0.2em hsla(215, 100%, 70%, 1.0), 0 0 0.6em hsla(215, 100%, 60%, 1.0), 0 0 1em hsla(215, 100%, 20%, 1.0), 0 0 1.5em hsla(215, 100%, 10%, 1.0);
}

:root.daymode {
    --link-color: hsla(215, 100%, 30%, 1.0);
    --hover-color: hsla(215, 100%, 40%, 1.0);
    --link-neon: none;
    --title-neon: none;
}

#story, #story-title {
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: #090909;
}

#ui-bar {
    background-color: #090909;
}

.daymode body {
    color: #111;
    background-color: #fff;
}
.daymode a {
    color: #35c;
}
.daymode a:hover {
    color: #57e;
}
.daymode span.link-disabled {
    color: #777;
}
.daymode button {
    color: #111;
    background-color: #acf;
    border-color: #8ad;
}
.daymode button:hover {
    background-color: #8ad;
    border-color: #68b;
}
.daymode button:disabled {
    background-color: #ccc;
    border-color: #aaa;
}
.daymode input,
.daymode select,
.daymode textarea {
    color: #111;
    border-color: #ccc;
}
.daymode input:focus,
.daymode select:focus,
.daymode textarea:focus,
.daymode input:hover,
.daymode select:hover,
.daymode textarea:hover {
    background-color: #eee;
    border-color: #111;
}
.daymode hr {
    border-color: #111;
}

.daymode .error {
    background-color: #eaa;
    border-left-color: #d77;
}

.daymode #ui-bar {
    background-color: #eee;
    border-color: #ccc;
}
.daymode #ui-bar hr {
    border-color: #ccc;
}
.daymode #ui-bar-toggle,
.daymode #ui-bar-history [id|="history"] {
    color: #111;
    border-color: #ccc;
}
.daymode #ui-bar-toggle:hover,
.daymode #ui-bar-history [id|="history"]:hover {
    background-color: #ccc;
    border-color: #111;
}
.daymode #ui-bar-history [id|="history"]:disabled {
    color: #ccc;
    background-color: transparent;
    border-color: #ccc;
}
.daymode #menu ul {
    border-color: #ccc;
}
.daymode #menu li:not(:first-child) {
    border-top-color: #ccc;
}
.daymode #menu li a {
    color: #111;
}
.daymode #menu li a:hover {
    background-color: #ccc;
    border-color: #111;
}

/* Default dialog styling */
.daymode #ui-overlay {
    background-color: #777;
}
.daymode #ui-dialog-titlebar {
    background-color: #ccc;
}
.daymode #ui-dialog-close:hover {
    background-color: #b44;
    border-color: #a33;
}
.daymode #ui-dialog-body {
    background-color: #fff;
    border-color: #ccc;
}
.daymode #ui-dialog-body hr {
    background-color: #ccc;
}

/* List-based dialog styling */
.daymode #ui-dialog-body.list li:not(:first-child) {
    border-top-color: #ccc;
}
.daymode #ui-dialog-body.list li a {
    color: #111;
}
.daymode #ui-dialog-body.list li a:hover {
    background-color: #ccc;
    border-color: #111;
}

/* Saves dialog styling */
.daymode #ui-dialog-body.saves > *:not(:first-child),
.daymode #ui-dialog-body.saves tr:not(:first-child) {
    border-top-color: #ccc;
}
.daymode #ui-dialog-body.saves .empty {
    color: #777;
}

/* Settings dialog styling */
.daymode #ui-dialog-body.settings button[id|="setting-control"] {
    color: #111;
    border-color: #ccc;
}
.daymode #ui-dialog-body.settings button[id|="setting-control"]:hover {
    background-color: #eee;
    border-color: #111;
}
.daymode #ui-dialog-body.settings button[id|="setting-control"].enabled {
    background-color: #9e9;
    border-color: #7c7;
}
.daymode #ui-dialog-body.settings button[id|="setting-control"].enabled:hover {
    background-color: #7c7;
    border-color: #5a5;
}

/* Debug view styling */
html.daymode:not([data-debug-view]) #debug-view-toggle {
    color: #111;
    border-color: #ccc;
}
html.daymode:not([data-debug-view]) #debug-view-toggle:hover {
    background-color: #eee;
    border-color: #111;
}
html.daymode[data-debug-view] #debug-view-toggle {
    background-color: #9e9;
    border-color: #7c7;
}
html.daymode[data-debug-view] #debug-view-toggle:hover {
    background-color: #7c7;
    border-color: #5a5;
}
html.daymode[data-debug-view] .debug {
    background-color: #dc9;
}
html.daymode[data-debug-view] .debug.hidden,
html.daymode[data-debug-view] .debug.hidden .debug {
    background-color: #bbb;
}

/* Style menu item to have "moon" icon */
#menu-core #menu-item-skin a::before {
    content: '\e800\00a0';
}
.daymode #menu-core #menu-item-skin a::before {
    content: '\e801\00a0';
}


#story a, #ui-dialog-body a {
    color: var(--link-color);
    text-shadow: var(--link-neon);
}
#story a:hover, #ui-dialog-body a:hover {
    color: var(--hover-color);
}

#story input.macro-textbox {
    color: var(--link-color);
    box-shadow: var(--link-neon);
}

#story-title {
    color: var(--link-color);
    font-variant: small-caps;
    text-shadow: var(--title-neon);
    margin-top: 26px;
    font-size: 200%;
}

.maus-scribble {
    text-align: center;
}
.maus-scribble svg {
    width: 20rem;
    max-width: 100%;
    stroke: currentColor;
}

.journalLink {
    text-align: right;
    border-bottom: 1px solid;
    font-size: 90%;
}

.no-journal .journalLink {
    display: none;
}

.journalHeader {
    font-size: 150%;
}
.journalEntries {
    margin: 0;
    min-width: 30vw;
    list-style-type: circle;
}

.gameTitle {
    text-align: center;
    margin-top: 2em;
}

.gameTitle img {
    max-width: 75vw;
}

.theEnd {
    text-align: center;
}

.theEnd a:hover {
    text-decoration: none;
}

.jumperLabel {
    display: inline-block;
    text-align: center;
    width: 1.2em;
    border: 1px solid currentColor;
}
.powerOn {
    font-family: tme-fa-icons;
}
.powerOn button {
    font-size: 2em;
    background-color: transparent;
}

/*** imported from "twine-achievements" ***/
.achievements-container {
    position: fixed;
    bottom: 1em;
    right: 1em;

    opacity: 0;
    pointer-events: none;
    transition: 150ms all ease-in;
    cursor: pointer;
}
.achievements-container.open {
    opacity: 1;
    pointer-events: auto;
    transition: all 50ms ease-out;
}

.achievements-container {
    position: fixed;
    bottom: 1em;
    right: 1em;

    opacity: 0;
    pointer-events: none;
    transition: 150ms all ease-in;
    cursor: pointer;
}
.achievements-container.open {
    opacity: 1;
    pointer-events: auto;
    transition: all 50ms ease-out;
}

.achievement {
    width: 20em;
    height: 5em;
    padding: 0.5em;
    border: 1px solid currentColor;
    background-color: inherit !important;
    box-shadow: 0em 0em 1em 1em;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
}
.achievement-dialog .achievement {
    box-shadow: none;
    display: inline-flex;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.achievement-icon {
    margin-right: 0.5em;
    width: 6em;
    fill: currentColor;
}

.achievement-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.achievement-title {
    font-size: 130%;
    margin: 0;
    line-height: 1;
}

.achievement-text {
    font-size: 90%;
    margin: 0;
    line-height: 1;
}

.achievement-dialog {
    width: 44em;
}
/*** /imported from "twine-achievements" ***/


.langLink {
    display: none;
    text-align: center;
}
[lang="en"] .langLink[lang="ru"],
[lang="ru"] .langLink[lang="en"] {
    display: inline-block;
}

.langLinks {
    padding-left: 12px;
    margin-top: 1em;
    font-size: 120%;
}